@model IFlatPlanetExam.Model.PressViewModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @if (@Model.count == 0)
        {
            <h1> Click the button below to start. </h1>
        }
        else
        {
            <h1>Total number of clicked: @Model.count </h1>
        }

        <div class="form-group">
            <div class="col-md-10">
                @if (@Model.count == 10)
                {
                    <h5 class="alert-danger">You've reached the maximum number of clicks.</h5>
                    <br />
                    <input id="submit" type="submit" value="Not available" class="btn btn-default" disabled="disabled" />
                }
                else
                {
                    <input id="submit" type="submit" value="Click me" class="btn btn-default" />
                }
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*Script bundle for Flatplanet page*@
    @Scripts.Render("~/bundles/iflat.planet")
}
